{% extends 'base.html'%}

{% block head%}
<link rel="stylesheet" href="{{ url_for('static',filename='css/datatables.css')}}">

<title>صفحه نخست</title>
{% endblock%}


{% block body%}
<div class=" ">
    <table id="test-table" width="100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Salary</th>
    </tr>
    </thead>
</table>

 <!--   <table id="req" class="display" style="width:100%">
        <thead>
        <tr>
            <th>ردیف</th>
            <th>سطح</th>
            <th>عنوان</th>
            <th>اولویت</th>
            <th>نوع نیازمندی</th>
            <th>تغییرات</th>
            <th>بازبینی</th>
            <th>ارزیابی</th>
            <th>روش ارزیابی</th>
            <th>فاکتور کیفی</th>
            <th>تنظیمات</th>

        </tr>
        </thead>
        <tbody>
        {% for r in requirement %}
        <tr>
            <td style="width: 1%">{{ loop.index }}</td>
            <td style="width: 2%">
                {% if r.level == 1 %}
                R
                {% else %}
                SR
                {% endif %}
            </td>
            <td style="text-align: right;width: 40%">{{r.title}}</td>
            <td>
                {% if r.priority == 1 %}
                کلیدی
                {% elif r.priority == 2 %}
                ضروری
                {% elif r.priority == 3 %}
                اختیاری
                {% endif %}
            </td>
            <td>{% if r.req_type == 1 %}
                کارکردی
                {% elif r.req_type == 2 %}
                غیرکارکردی
                {% endif %}
            </td>
            <td>
                {% if r.changes == 1 %}
                سیمانی
                {% elif r.changes == 2 %}
                بسامدی
                {% endif %}
            </td>
            <td>{% if r.review == 1 %}
                رد
                {% elif r.review == 2 %}
                قبول
                {% elif r.review == 3 %}
                انتظار
                {% endif %}
            </td>
            <td>{% if r.evaluation == 1 %}
                رد
                {% elif r.evaluation == 2 %}
                قبول
                {% elif r.evaluation == 3 %}
                انتظار
                {% elif r.evaluation == 4 %}
                ملاقات شده
                {% endif %}
            </td>
            <td>
                {% if r.evaluation_method == 1 %}
                آنالیز
                {% elif r.evaluation_method == 2 %}
                شبیه سازی
                {% elif r.evaluation_method == 3 %}
                بازرسی
                {% elif r.evaluation_method == 4 %}
                تست سیستم
                {% elif r.evaluation_method == 5 %}
                تست کامپوننت
                {% endif %}
            </td>
            <td>{% if r.quality_factor == 1 %}
                AVAILABILITY
                {% elif r.quality_factor == 2 %}
                FLEXBILITY
                {% elif r.quality_factor == 3 %}
                INTEGRITY
                {% elif r.quality_factor == 4 %}
                MAINTAINABILITY
                {% elif r.quality_factor == 5 %}
                PORTABILITY
                {% elif r.quality_factor == 6 %}
                RELIABILITY
                {% elif r.quality_factor == 7 %}
                SAFETY
                {% elif r.quality_factor == 8 %}
                SECURITY
                {% elif r.quality_factor == 9 %}
                SUPPORTABILITY
                {% elif r.quality_factor == 10 %}
                SUSTAINABILITY
                {% elif r.quality_factor == 11 %}
                USABILITY
                {% endif %}
            </td>
            <td style="width: 10%">
                <a href="{{ url_for('edit_req',req=r.id)}}" class="btn btn-sm  btn-info m-1"
                   style="width:60px">ویرایش</a>
                <a href="{{ url_for('requirement_remove',req=r.id)}}" class="btn btn-sm  btn-danger m-1"
                   style="width:60px">حذف</a>
            </td>

        </tr>
        {% endfor %}
        </tbody>
        <tfoot>

        </tfoot>
    </table>-->
</div>


<script src="{{ url_for('static',filename='js/jquery.js')}}"></script>

<script src="{{ url_for('static',filename='js/datatables.js')}}"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="{{ url_for('static',filename='js/treetable.js')}}"></script>

<!--<script>-->

<!--    const organisationData = [-->
<!--        {tt_key: 1, tt_parent: 0, name: "CEO"},-->
<!--        {tt_key: 2, tt_parent: 1, name: "CTO"},-->
<!--        {tt_key: 3, tt_parent: 2, name: "developer"},-->
<!--        {tt_key: 4, tt_parent: 1, name: "CFO"}-->
<!--    ];-->

<!--    $(document).ready(function () {-->
<!--        $('#req').DataTable({-->

<!--            "data": myData,-->
<!--            "columns": [-->
<!--                {-->
<!--                    "data": "name"-->
<!--                }-->
<!--            ]-->


<!--        });-->


<!--    });-->


<!--</script>-->


<script>
    $(document).ready(function () {

        // const fakeData = [
        // {% for r in requirement %}
        // { "r_id":{{r.id}}, "parent_id":{{r.parent_id}}, name:'{{r.title}}' }, {% endfor %}
        // ];
        //
        //
        // const fakeData2 = [
        //     {"tt_key": 1, "tt_parent": 0, name: "CEO", salary: 1000000},
        //     {"tt_key": 2, "tt_parent": 1, name: "CTO", salary: 110000},
        //     {"tt_key": 3, "tt_parent": 2, name: "Front-end developer", salary: 60000},
        //     {"tt_key": 4, "tt_parent": 2, name: "Back-end developer", salary: 65000},
        //     {"tt_key": 5, "tt_parent": 1, name: "CFO", salary: 100000}
        // ];
        //
        // const   fakeData3 =
        //     {% for r in d %}
        // {{ r }}
        // {% endfor %}

        $('#test-table').treeTable({
              "ajax": 'http://localhost:5000/ajax',
            "collapsed": true,
            "columns": [
                {
                    "data": "title"
                }

            ],
            "order": [[1, 'desc']]
        });

    })
</script>
{% endblock%}